body{
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-image: url('../img/foto.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: top;
    text-align: right;

}

.botones{
    font-style: normal;
    font-weight: normal;
    text-align: center;
    width: 400px;
    position: absolute;
    right: 10%;
    top: 35%;
    height: auto;

}

.esPlacer{
    background-color: white;

    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    color: #3C2313;
}

#comederoDescuento{
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #3C2313;
}

#comederos{
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    width: 141px;
    height: 49px;
    left: 767px;
    top: 334px;

    background: #F0A83E;
    border-radius: 5px;
}
#opc-banner{
    padding: 10px;
    width: 75px;
    height: 18px;
    left: 489px;
    top: 653px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #666666;
}

#producto{
    text-align: center;
    position: relative;
    float: left;
    width: 311px;
    height: 350px;

    padding: 15.1px;
    background: #FBFAF6;
}

#descripcion{

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #3C2313;

}
#precio{

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #F0A83E;
}

input{
    margin: 5px;
    width: 340px;
    height: 40px;
    left: calc(50% - 340px/2 + 1px);
    top: calc(50% - 40px/2 + 275.5px);

    background: #3C2313;
    border-radius: 15px;
}

::placeholder {
    color: white;
    font-size: 9px;
    padding-left: 15px;
  }

  button{
    margin: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;

  }
  .reset{
    width: 110px;
    height: 34px;
    left: calc(50% - 110px/2 - 52px);
    top: calc(50% - 34px/2 + 453.5px);
    
    background: #8A8787;
    border-radius: 15px;
  }
  
  .submit{
    width: 110px;
    height: 34px;
    left: calc(50% - 110px/2 + 64px);
    top: calc(50% - 34px/2 + 453.5px);
    
    background: #F0A83E;
    border-radius: 15px;
    border-color: #F0A83E;
  }

  #suscribirse{
      background-color: #F0A83E;
      padding: 20px;
  }

  #msg{
    padding: 5px;
    left: calc(50% - 288px/2 - 295px);
    top: calc(50% - 23px/2 + 577px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
  }

  input.email{
    margin-left: 250px;
    width: 271px;
    height: 40px;
    left: calc(50% - 271px/2 + 254.5px);
    top: calc(50% - 40px/2 + 575.5px);
    
    background: #FFFFFF;
    border-radius: 15px;
  }
  .email::placeholder{
    color: rgb(0, 0, 0);
    font-size: 9px;
    padding-left: 15px;
  }
  button.suscribirme{
    width: 70px;
    height: 34px;
    left: calc(50% - 70px/2 + 430px);
    top: calc(50% - 34px/2 + 575.5px);

    background: #3C2313;
    border-radius: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */
    color: #FFFFFF;
  }