body{
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------*/
/*----------------   Header   ----------------*/
/*--------------------------------------------*/

header{
    width: 100vw;
}
#upperBar{
    align-items: center; 
    background-color: black; 
    display:flex; 
    height: 3vh;
    justify-content:space-between; 
    color:#F3F3F3;
    
}
#upperText{
    padding-left: 5vw;
}
#navLanguage{
    padding-right: 3vw;
}

nav{
    background: #F0A83E; 
    display:flex; 
    align-items: center; 
    justify-content:space-between; 
    height: 7vh;
}
#navLogo{
    height: 4vh;
    padding-left: 4vw;
}
.navItems{
    text-decoration: none; 
    color:#F3F3F3;
    padding: 0 1vw 0 1vw;

}

/*--------------------------------------------*/
/*----------------    Main    ----------------*/
/*--------------------------------------------*/

.banner {
    background-image: url('../img/foto.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: top;
    text-align: right;

}

.botones{
    font-style: normal;
    font-weight: normal;
    text-align: center;
    width: 400px;
    position: absolute;
    right: 10%;
    top: 35%;
    height: auto;

}

.esPlacer{
    background-color: white;

    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    color: #3C2313;
}

#comederoDescuento{
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #3C2313;
}

#comederos{
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;

    width: 141px;
    height: 49px;
    left: 767px;
    top: 334px;

    background: #F0A83E;
    border-radius: 5px;
}
.destacados{
    text-align: center;
}

h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #3C2313;
    font-size: 40px;
    line-height: 47px;
}

/*--------------------------------------------*/
/*----------------   Footer   ----------------*/
/*--------------------------------------------*/

/*-------Upper Footer--------*/
.upperFooter{
    background: #F0A83E; 
    display:flex; 
    align-items: center;
}

/*-------Mid Footer--------*/
.midFooter{
    background: #3C2313;
    height: 25vh;    
}
.midFooterArticle{
    padding-left: 5%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.iconFooter{
    color: #F3F3F3;
    background-color: #8A8787;
    height: 6vh;
    width: 3vw;
    border: 5px solid #555454;
    border-radius: 50%;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: x-large;
    padding-left: 2vw;
}
.midFooterArticleText{
    justify-content: center;
    align-items: center;
}
.midFooterP{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
}

/*------Bottom Footer-------*/
.bottomFooter{
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
}
#rights{
    color: #F3F3F3;
}